@font-face {
    font-family: "avenir-light";
    src: url(../Font/Avenir-Light.ttf);
}
@font-face {
    font-family: "avenir-heavy";
    src: url(../Font/Avenir-Heavy.ttf);
}

a:link, a:visited, a:active {
    text-decoration:none;
}
@media  screen and (min-width : 320px)  and (max-width : 768px){
    body{
        margin: 0;
        background: #FFFFFF;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .logo-pink{
        display: none;
    }
    .div-otra-cuenta{
        display: none;
    }
    .back{
        position: absolute;
        margin-top: 23px;
        z-index: 500;
        appearance: none;
        background: transparent;
        border: 0;
    }
    .img-logo{
        position: relative;
        top: 26px;
    }
    .form-registro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 8px;
    }
    .p-registro{
        font-family: "avenir-heavy";
        font-weight: 850;
        font-size: 16px;
        line-height: 24px;
        color: #EC552F;
        align-self: end;
    }
    .div-registro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        width: 327px;
        height: 48px;
        border: 0.7px solid #C7CAD9;
        box-sizing: border-box;
        border-radius: 4px;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    
    .registro-span{
        font-family: "avenir-heavy";
        font-size: 14px;
        line-height: 20px;
        color: #215E99;
        margin-bottom: 5px;
    }
    .input-registro{
        font-family: "avenir-light";
        font-size: 14px;
        line-height: 20px;
        outline: none;
        border: 0;
        background: transparent;
        width: 300px;
        height: 48px;
        margin-left: 16px;
    }
    .btn-eye{
        width: 41px;
        appearance: none;
        background: transparent;
        border: 0;
        position: absolute;
        align-self: flex-end;
        margin: 5px;
        margin-top: 10px;
    }
    .img-eye{
        width: 25px
    }
    input[type="checkbox"]:not(old) {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
    }
    input[type="checkbox"]:not(old) + label::-moz-selection,
    input[type="checkbox"]:not(old) + label::selection {
        color: inherit;
        background-color: transparent;
    }
    input[type="checkbox"]:not(old) + label {
        cursor: pointer;
        margin-left: 12px;
    }
     
    input[type="checkbox"]:not(old) + label:before {
        content: '';
        width: 15px;
        height: 15px;
        border: 0.7px solid #C7CAD9;
        cursor: pointer;
        vertical-align: top;
        display: inline-block;
        margin-right: 5px;
    }
     
    input[type="checkbox"]:not(old):checked + label:before {
        /* Estilos del input seleccionado */
        box-shadow: inset 0 0 1px 2px white;
        background: #215E99;
    }
    .span-check{
        font-family: "avenir-light";
        font-size: 12px;
        line-height: 16px;
        color: #EC552F;
        top: -20px;
        left: 50px;
        position: relative;
    }
    .div-sesion{
        position: relative;
        top: 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
     
    .btn-sesion{
        font-family: "avenir-heavy";
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        width: 327px;
        height: 52px;
        background: #EC552F;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: none; 
    }
    .div-otra-cuenta{
        display: none;
    }
    .btn-otro-sesion{
        font-family: "avenir-heavy";
        font-size: 14px;
        line-height: 20px;
        color: #215E99;
        width: 327px;
        height: 52px;
        background: transparent;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.7px solid #215E99;
        margin-top: 15px;   
    }

    .nuevo-usuario{
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-top: 9px;
    }

    .nuevo{
        font-family: "avenir-heavy";
        font-size: 14px;
        line-height: 20px;
        color: #215E99;   
    }

    .btn-nuevo{
        font-family: "avenir-heavy";
        font-size: 14px;
        line-height: 20px;
        color: #EC552F;
        margin-left: 5px;   
    }

    .indicador{
        position: absolute;
        width: 134px;
        height: 5px;
        left: calc(50% - 134px/2 + 0.5px);
        top: calc(110% - 5px/2 + 5.5px);        
        background: #215E99;
        border-radius: 100px; 
    }
    .modal-cuenta{ 
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-family: "avenir-heavy";
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        transition: all 0.35s ease-in;
        z-index: 1;
        background: rgba(0,0,0, 0.5);
        }
    
    .modal-cuenta.is-visible {
        visibility: visible;
        opacity: 1;
    }
    .modal-dialog2 {
        position: relative;
        overflow: auto;
        cursor: default;
        text-align: center;
        background: #ffff;
        border-radius: 22px 22px 0px 0px;
        top: calc(54% - 5px/2 + 5.5px);       
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .indicador-modal{
        width: 62px;
        height: 4px;
        background: #C8C8C8;
        border-radius: 2px;
        top: 10px;
        position: relative;
        
    }
    .header-modal{
        display: flex;
        align-items: center;
        margin-top: 15px;

    }
    .header-modal a{
        position: relative;
        right: 50px;
        top: 3px;
    }
    .header-modal p{
        color: #215E99;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    }
    .btn {
        appearance: none;
        outline: none;
        background: transparent;
        border: 0.7px solid #C7CAD9;
        box-sizing: border-box;
        border-radius: 4px;
        width: 327px;
        height: 48px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 21px;
    }
    .btn p{
        font-family: "avenir-heavy";
        font-size: 14px;
        line-height: 20px;
        color: #215E99;
    }
    .modal-close{
        appearance: none;
        outline: none;
        background: transparent;
        border: 0;
        right: 48px;
        position: relative;
    }
    
}

@media screen and (min-width : 769px){
    body{
        margin: 0;
        background: #FBEFEC;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .header-inicio{
        display: none;
    }
    .desktop{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .logo-pink{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding-top: 50px;
        right: 130px;
    }
    .logo-pink p{
        display: block;
        font-family: "avenir-heavy";
        font-size: 30px;
        line-height: 120%;
        letter-spacing: 0.005em;
        color: #215E99;
        margin: 9%;
        position: relative;
        right: 35px;
    }
    .img-be{
        width: 208px;
    }
   .img-smile{
        align-self: center;
        margin-left: 17px;
        top: 238px;
        position: absolute;
   }
   .form-registro{
        height: 100%;
        background: #ffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 0;
        position: fixed;
        width: 50%;
    }
    .p-registro{
        font-family: "avenir-heavy";
        font-weight: 850;
        font-size: 24px;
        line-height: 32px;
        color: #EC552F;
        align-self: center;
        margin-left: -24px;
        margin-top: 120px;
        margin-bottom: 64px;
    }
    .div-registro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        width: 327px;
        height: 48px;
        border: 0.7px solid #C7CAD9;
        box-sizing: border-box;
        border-radius: 4px;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    
    .registro-span{
        font-family: "avenir-heavy";
        font-size: 14px;
        line-height: 20px;
        color: #215E99;
        margin-bottom: 5px;
    }
    .input-registro{
        font-family: "avenir-light";
        font-size: 14px;
        line-height: 20px;
        outline: none;
        border: 0;
        background: transparent;
        width: 300px;
        height: 48px;
        margin-left: 16px;
    }
   
    input[type="checkbox"]:not(old) {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
    }
    input[type="checkbox"]:not(old) + label::-moz-selection,
    input[type="checkbox"]:not(old) + label::selection {
        color: inherit;
        background-color: transparent;
    }
    input[type="checkbox"]:not(old) + label {
        cursor: pointer;
        margin-left: 12px;
    }
     
    input[type="checkbox"]:not(old) + label:before {
        content: '';
        width: 15px;
        height: 15px;
        border: 0.7px solid #C7CAD9;
        cursor: pointer;
        vertical-align: top;
        display: inline-block;
        margin-right: 5px;
    }
     
    input[type="checkbox"]:not(old):checked + label:before {
        /* Estilos del input seleccionado */
        box-shadow: inset 0 0 1px 2px white;
        background: #215E99;
    }
    .span-check{
        font-family: "avenir-light";
        font-size: 12px;
        line-height: 16px;
        color: #EC552F;
        top: -20px;
        left: 50px;
        position: relative;
    }
    .div-sesion{
        position: relative;
        top: 39px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
     
    .btn-sesion{
        font-family: "avenir-heavy";
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        width: 327px;
        height: 52px;
        background: #215E99;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: none; 
    }
    .div-otra-cuenta{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 32px;
    }
    .div-otra-cuenta p{
        font-family: "avenir-heavy";
        font-size: 14px;
        line-height: 20px;
        color: #EC552F;
        margin-bottom: 40px;
    }
    .btn-cta{
        outline: 0;
        border: 0;
        border-radius: 50px;
        width: 49px;
        height: 48px;
    }
    .btn-otro-sesion{
        display: none;
    }
    .nuevo-usuario{
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-top: 23%;    
    }
    .nuevo{
        font-family: "avenir-heavy";
        font-size: 14px;
        line-height: 20px;
        color: #215E99;   
    }

    .btn-nuevo{
        font-family: "avenir-heavy";
        font-size: 14px;
        line-height: 20px;
        color: #EC552F;
        margin-left: 5px;   
    }
   .modal-cuenta{ 
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-family: "avenir-heavy";
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        transition: all 0.35s ease-in;
        z-index: 1;
        background: rgba(0,0,0, 0.5);
    }

    .modal-cuenta.is-visible {
        visibility: visible;
        opacity: 1;
    }
    .modal-dialog2 {
        position: relative;
        overflow: auto;
        cursor: default;
        text-align: center;
        background: #ffff;
        border-radius: 22px 22px 0px 0px;
        top: calc(58% - 5px/2 + 5.5px);        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .btn-eye{
        width: 41px;
        appearance: none;
        background: transparent;
        border: 0;
        position: absolute;
        align-self: flex-end;
        z-index: 2000;
        margin: 5px;
        margin-top: 10px;
    }
    .img-eye{
        width: 25px
    }

}   